PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE gate_events (
                event_id TEXT PRIMARY KEY,
                timestamp REAL NOT NULL,
                question TEXT NOT NULL,
                response_type_predicted TEXT NOT NULL,
                response_type_actual TEXT,
                intent_align REAL NOT NULL,
                memory_align REAL NOT NULL,
                grounding_score REAL NOT NULL,
                gates_passed INTEGER NOT NULL,
                gate_reason TEXT,
                user_override INTEGER,
                correction_timestamp REAL,
                thread_id TEXT,
                session_id TEXT
            );
INSERT INTO gate_events VALUES('fdebd2ff-4807-4276-bcef-ad0c5825cd7b',1768645454.55211806,'I work at TechCorp','conversational','factual',0.800000000000000044,0.805266172126139156,0.292857142857142815,1,'gates_passed',1,1768689653.8968997,'default','a0a6b35b');
INSERT INTO gate_events VALUES('7598cfef-a556-4ce3-8fa4-0bcdb26dcdff',1768645457.48813152,'I live in San Francisco','conversational','factual',0.800000000000000044,0.610270088342054983,0.200000000000000011,1,'gates_passed',1,1768689653.8968997,'default','a0a6b35b');
INSERT INTO gate_events VALUES('f19f40c1-9b04-4f53-ad63-4c280b7bca81',1768645460.85117149,'My favorite color is blue','conversational','factual',0.800000000000000044,0.670229750357173803,0.849999999999999977,1,'gates_passed',1,1768689653.8968997,'default','a0a6b35b');
CREATE TABLE training_runs (
                run_id INTEGER PRIMARY KEY AUTOINCREMENT,
                started_at REAL NOT NULL,
                finished_at REAL,
                success INTEGER,
                model_version TEXT NOT NULL,
                training_examples INTEGER,
                validation_accuracy REAL,
                error_message TEXT,
                model_path TEXT
            );
INSERT INTO training_runs VALUES(1,1768645432.88281583,1768645432.88281583,1,'v1',288,0.982758620689655137,NULL,'models/response_classifier_v1.joblib');
INSERT INTO training_runs VALUES(2,1768674833.89944434,1768674833.89944458,1,'v1',55,0.727272727272727293,NULL,'models/response_classifier_v1.joblib');
INSERT INTO training_runs VALUES(3,1768755439.61987686,1768755439.61987733,1,'v1',183,0.837837837837837828,NULL,'models/response_classifier_v1.joblib');
CREATE TABLE model_versions (
                version TEXT PRIMARY KEY,
                created_at REAL NOT NULL,
                model_path TEXT NOT NULL,
                accuracy REAL,
                training_examples INTEGER,
                is_active INTEGER DEFAULT 0
            );
INSERT INTO model_versions VALUES('v1',1768755439.62317752,'models/response_classifier_v1.joblib',0.837837837837837828,183,1);
CREATE TABLE interaction_logs (
                interaction_id TEXT PRIMARY KEY,
                timestamp REAL NOT NULL,
                thread_id TEXT NOT NULL,
                session_id TEXT,
                query TEXT NOT NULL,
                slots_inferred TEXT,  -- JSON: {"name": "Alice", "employer": "Amazon"}
                facts_injected TEXT,  -- JSON: [{"memory_id": "...", "text": "..."}]
                response TEXT NOT NULL,
                response_type TEXT,
                confidence REAL,
                gates_passed INTEGER,
                user_reaction TEXT,  -- thumbs_up, thumbs_down, correction, report, None
                reaction_timestamp REAL,
                reaction_details TEXT  -- JSON: additional feedback data
            );
INSERT INTO interaction_logs VALUES('c3967004-10c8-4567-8943-af1be63af213',1769099554.71417093,'t_383c85a2-798c-452f-997b-9d760a2526f0','d5df5f6e','Where do I work?',NULL,'[{"memory_id": "profile_employer", "text": "FACT: employer = Microsoft", "confidence": 0.9}]','Microsoft (most recent update)','belief',0.949999999999999955,1,NULL,NULL,NULL);
CREATE TABLE corrections (
                correction_id TEXT PRIMARY KEY,
                interaction_id TEXT NOT NULL,
                timestamp REAL NOT NULL,
                thread_id TEXT NOT NULL,
                correction_type TEXT NOT NULL,  -- fact, slot, response, other
                field_name TEXT,  -- e.g., "name", "employer"
                incorrect_value TEXT,
                correct_value TEXT,
                user_comment TEXT,
                FOREIGN KEY (interaction_id) REFERENCES interaction_logs(interaction_id)
            );
CREATE TABLE conflict_resolutions (
                resolution_id TEXT PRIMARY KEY,
                timestamp REAL NOT NULL,
                thread_id TEXT NOT NULL,
                ledger_id TEXT,  -- contradiction ledger ID
                old_fact TEXT NOT NULL,
                new_fact TEXT NOT NULL,
                user_action TEXT NOT NULL,  -- accept_new, keep_old, merge, ask_later
                context TEXT,  -- Additional context about the resolution
                auto_resolved INTEGER DEFAULT 0  -- 1 if auto-resolved, 0 if user chose
            );
DELETE FROM sqlite_sequence;
INSERT INTO sqlite_sequence VALUES('training_runs',3);
CREATE INDEX idx_timestamp ON gate_events(timestamp);
CREATE INDEX idx_correction ON gate_events(user_override, correction_timestamp);
CREATE INDEX idx_interaction_timestamp ON interaction_logs(timestamp);
CREATE INDEX idx_interaction_thread ON interaction_logs(thread_id);
CREATE INDEX idx_interaction_reaction ON interaction_logs(user_reaction);
CREATE INDEX idx_correction_timestamp ON corrections(timestamp);
CREATE INDEX idx_correction_type ON corrections(correction_type);
CREATE INDEX idx_resolution_timestamp ON conflict_resolutions(timestamp);
CREATE INDEX idx_resolution_action ON conflict_resolutions(user_action);
COMMIT;
