PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE contradictions (
                ledger_id TEXT PRIMARY KEY,
                timestamp REAL NOT NULL,
                old_memory_id TEXT NOT NULL,
                new_memory_id TEXT NOT NULL,
                drift_mean REAL NOT NULL,
                drift_reason REAL,
                confidence_delta REAL,
                status TEXT NOT NULL,
                contradiction_type TEXT DEFAULT 'conflict',
                affects_slots TEXT,
                query TEXT,
                summary TEXT,
                resolution_timestamp REAL,
                resolution_method TEXT,
                merged_memory_id TEXT
            );
INSERT INTO contradictions VALUES('contra_1769126340209_3398',1769126340.20950126,'mem_1769126317694_678','mem_1769126333816_7630',0.546163415160032306,NULL,0.0,'open','conflict','employer','I just started working at Amazon','User contradiction: I work at Microsoft... vs I just started working at Amazon...',NULL,NULL,NULL);
CREATE TABLE reflection_queue (
                queue_id INTEGER PRIMARY KEY AUTOINCREMENT,
                timestamp REAL NOT NULL,
                ledger_id TEXT NOT NULL,
                volatility REAL NOT NULL,
                priority TEXT NOT NULL,
                context_json TEXT,
                processed INTEGER DEFAULT 0,
                FOREIGN KEY (ledger_id) REFERENCES contradictions(ledger_id)
            );
INSERT INTO reflection_queue VALUES(1,1769126340.22673988,'contra_1769126340209_3398',0.632989051889791376,'medium','{"query": "I just started working at Amazon", "drift": 0.5461634151600323, "intent_align": 0.8, "memory_align": 0.3234398906328734}',0);
CREATE TABLE contradiction_worklog (
                ledger_id TEXT PRIMARY KEY,
                first_asked_at REAL,
                last_asked_at REAL,
                ask_count INTEGER DEFAULT 0,
                last_user_answer TEXT,
                last_user_answer_at REAL
            );
DELETE FROM sqlite_sequence;
INSERT INTO sqlite_sequence VALUES('reflection_queue',1);
CREATE INDEX idx_contradictions_status 
            ON contradictions(status)
        ;
CREATE INDEX idx_contradictions_old_memory 
            ON contradictions(old_memory_id)
        ;
CREATE INDEX idx_contradictions_new_memory 
            ON contradictions(new_memory_id)
        ;
CREATE INDEX idx_reflection_queue_processed 
            ON reflection_queue(processed, priority)
        ;
COMMIT;
