PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE memories (
                memory_id TEXT PRIMARY KEY,
                vector_json TEXT NOT NULL,
                text TEXT NOT NULL,
                timestamp REAL NOT NULL,
                confidence REAL NOT NULL,
                trust REAL NOT NULL,
                source TEXT NOT NULL,
                sse_mode TEXT NOT NULL,
                context_json TEXT,
                tags_json TEXT,
                thread_id TEXT
            );
CREATE TABLE trust_log (
                log_id INTEGER PRIMARY KEY AUTOINCREMENT,
                memory_id TEXT NOT NULL,
                timestamp REAL NOT NULL,
                old_trust REAL NOT NULL,
                new_trust REAL NOT NULL,
                reason TEXT NOT NULL,
                drift REAL,
                FOREIGN KEY (memory_id) REFERENCES memories(memory_id)
            );
INSERT INTO trust_log VALUES(1,'mem_1769126290767_115',1769126296.56817221,0.699999999999999955,0.777088020126145306,'Aligned (drift=0.229)',0.229119798738546931);
INSERT INTO trust_log VALUES(2,'mem_1769126307201_3533',1769126308.08200192,0.699999999999999955,0.775525943415402818,'Aligned (drift=0.245)',0.244740565845971147);
INSERT INTO trust_log VALUES(3,'mem_1769126290767_115',1769126308.0873816,0.777088020126145306,0.809965913840521745,'Aligned (drift=0.671)',0.671221062856235173);
CREATE TABLE belief_speech (
                entry_id INTEGER PRIMARY KEY AUTOINCREMENT,
                timestamp REAL NOT NULL,
                query TEXT NOT NULL,
                response TEXT NOT NULL,
                is_belief INTEGER NOT NULL,
                memory_ids_json TEXT,
                trust_avg REAL,
                source TEXT
            );
INSERT INTO belief_speech VALUES(1,1769126296.57572603,'I like Python programming','It sounds like you enjoy working with Python! Is there something specific about Python that you''d like to talk about or any projects you''re currently working on?',0,NULL,NULL,'fallback_gates_failed');
INSERT INTO belief_speech VALUES(2,1769126308.09253239,'I also like JavaScript and TypeScript','It seems we have a confirmation of shared interests! You both enjoy JavaScript and TypeScript.',0,NULL,NULL,'fallback_gates_failed');
INSERT INTO belief_speech VALUES(3,1769126324.45802235,'I work at Microsoft','You''re currently working at Microsoft. Is there something specific you''d like to know or discuss about your job or employer?',1,'["mem_1769126317694_678", "mem_1769126290767_115", "mem_1769126307201_3533"]',0.761830619085308136,'belief');
DELETE FROM sqlite_sequence;
INSERT INTO sqlite_sequence VALUES('trust_log',22);
INSERT INTO sqlite_sequence VALUES('belief_speech',8);
CREATE INDEX idx_memories_source 
            ON memories(source)
        ;
CREATE INDEX idx_memories_timestamp 
            ON memories(timestamp DESC)
        ;
CREATE INDEX idx_memories_thread 
            ON memories(thread_id)
        ;
CREATE INDEX idx_trust_log_memory 
            ON trust_log(memory_id, timestamp)
        ;
COMMIT;
